In [1]:
import numpy as np
import pandas as pd

In [27]:
df_train = pd.read_csv("/Users/mac/kaggle_projects/mc-obesity-risk/playground-series-s4e2/train.csv")
df_test = pd.read_csv("/Users/mac/kaggle_projects/mc-obesity-risk/playground-series-s4e2/test.csv")

In [28]:
df_train.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II

In [51]:
df_train.head().T

,0,1,2,3,4
id,0,1,2,3,4
Gender,Male,Female,Female,Female,Male
Age,24.443011,18.0,18.0,20.952737,31.641081
Height,1.699998,1.56,1.71146,1.71073,1.914186
Weight,81.66995,57.0,50.165754,131.274851,93.798055
family_history_with_overweight,yes,yes,yes,yes,yes
FAVC,yes,yes,yes,yes,yes
FCVC,2.0,2.0,1.880534,3.0,2.679664
NCP,2.983297,3.0,1.411685,3.0,1.971472
CAEC,Sometimes,Frequently,Sometimes,Sometimes,Sometimes
SMOKE,no,no,no,no,no
CH2O,2.763573,2.0,1.910378,1.674061,1.979848
SCC,no,no,no,no,no
FAF,0.0,1.0,0.866045,1.467863,1.967973
TUE,0.976473,1.0,1.673584,0.780199,0.931721
CALC,Sometimes,no,no,Sometimes,Sometimes
MTRANS,Public_Transportation,Automobile,Public_Transportation,Public_Transportation,Public_Transportation

In [30]:
df_train = df_train.drop("NObeyesdad",axis=1)

In [34]:
df_test = df_test["id"]

### EDA

In [54]:
df_train.isnull().sum()
df_test.isnull().sum()

0

In [37]:
df_train.nunique()

id                                20758
Gender                                2
Age                                1703
Height                             1833
Weight                             1979
family_history_with_overweight        2
FAVC                                  2
FCVC                                934
NCP                                 689
CAEC                                  4
SMOKE                                 2
CH2O                               1506
SCC                                   2
FAF                                1360
TUE                                1297
CALC                                  3
MTRANS                                5
dtype: int64

In [38]:
df_train.dtypes

id                                  int64
Gender                             object
Age                               float64
Height                            float64
Weight                            float64
family_history_with_overweight     object
FAVC                               object
FCVC                              float64
NCP                               float64
CAEC                               object
SMOKE                              object
CH2O                              float64
SCC                                object
FAF                               float64
TUE                               float64
CALC                               object
MTRANS                             object
dtype: object

In [50]:
df_columns_num = len(df_train.columns)

df_category_num = len(df_train.select_dtypes(include=['object']).columns)
df_numeric_num = len(df_train.select_dtypes(include=['int64', 'float64']).columns)

print(f"We have {df_category_num}/{df_columns_num} categorical features and {df_numeric_num}/{df_columns_num} numerical features")

We have 8/17 categorical features and 9/17 numerical features